.upload {
  display: flex;
  flex-direction: column;
  gap: 32px;
  padding: 48px 0;
}

.top {
  display: flex;
  gap: 32px;
}

.heroImage {
  flex: 1;
  padding: 10px;
  margin-top: 8rem;
}

.right {
  display: flex;
  flex-direction: column;
  gap: 4rem;
}

.heroTexts {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.heroTexts h2 {
  font-size: 3rem;
}

.heroTexts p {
  font-size: 20px;
  font-weight: 300;
  line-height: 23.44px;
  color: var(--Accent-1);
}

.navs {
  display: flex;
  background-color: var(--secondary-1);
  border-radius: 100px;
  padding: 5px;
}

.btn {
  padding: 8px 24px;
  flex: 1;
  cursor: pointer;
  background-color: transparent;
  border: none;
  border-radius: 100px;
  font-weight: 600;
}

.btn:hover {
  background-color: var(--Accent-1);
}

.active {
  background-color: var(--Accent-1);
}
