.light {
  --primary-color-1: #04a56b;
  --secondary-color-1: #000000;
  --accent-color-1: #e6e6e6;
}

.dark {
  --primary-color-1: #0c0c0c;
  --secondary-color-1: #ffffff;
  --accent-color-1: #9cb9c8;
}

#root {
  background-color: var(--primary-color-1);
  color: var(--secondary-color-1);
  min-width: 320px;
  min-height: 100vh;
}
