.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}

.logo {
  display: flex;
  align-items: center;
  gap: 8px;
}

.logo h1 {
  font-size: 24px;
  font-weight: 600;
  color: #333333;
}

.navLinks {
  display: flex;
  align-items: center;
  gap: 32px;
}

.navLinks ul {
  display: flex;
  align-items: center;
  gap: 20px;
}

.buttons {
  display: flex;
  align-items: center;
  gap: 20px;
  position: relative;
}

.balance {
  composes: btn from "../button/Button.module.css";
  /* background-color: transparent; */
  /* color: var(--primary-color-1); */
}

.active {
  color: var(--primary-color-1);
  font-weight: 500;
}

.menu {
  position: absolute;
  right: 0;
  bottom: -180px;
}
