.search {
  display: flex;
  align-items: center;
  padding: 10px;
  border: 1px solid #373737;
  border-radius: 100px;
}

.input {
  background-color: transparent;
  flex: 1;
  padding: 8px;
  border: none;
  outline: none;
  color: var(--secondary-1);
}
