.card {
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-color: #0c0c0ce5;
  border-radius: 64px;
  border: 1px solid #373737;
}

/* .icon {
  color: var(--Accent-1);
  display: flex;
  justify-content: center;
  align-items: center;
} */

.left {
  padding: 128px 32px;
}

.center {
  padding: 32px;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.content h3 {
  font-size: 36px;
  font-weight: 700;
}

.content p {
  font-size: 18px;
  font-weight: 400;
  color: var(--Accent-1);
}
